<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>quickdirty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <!-- TODO: Filter bars -->
  <div class="container-fluid py-4">
    <div class="card-deck flex-column">
      <template>
        <% list.forEach(function(item){ %>
        <div class="d-flex flex-row">
          <div class="card my-2">
            <div class="card-header"><%= item.id %></div>
            <div class="card-body text-middle"><%= item.Tweet?item.Tweet.escape():'' %></div>
            <div class="card-footer text h4">
              <%= item.Class==1?'Trolling':item.Class==2?'Normal':item.Class==3?'Profanity':item.Class==4?'Offensive':item.Class==5?'Hate Speech':'Unlabelled' %>
            </div>
          </div>
          <div class="d-flex flex-column my-2 justify-content-around">
            <% labels.forEach(function(label){ %>
              <button CLASS="btn btn-primary control" data-class="<%=label.labels%>" data-id="<%=item.id%>"><%=label.labels%></button>
            <% }) %>
          </div>
        </div>

        <% }) %>
      </template>


    </div> <!-- card-deck -->

  </div> <!-- .container-fluid -->

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script>
    String.prototype.escape = function () {
      var tagsToReplace = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;'
      };
      return this.replace(/[&<>]/g, function (tag) {
        return tagsToReplace[tag] || tag;
      });
    };
    $(function () {
      $.when(
        $.getJSON('data?_limit=5'),
        $.getJSON('labels')
      ).done(function (data, labels) {
        console.log(data, labels)
        $('body').template({ 'list': data[0], 'labels': labels[0] })

      })
    })

    //   $('body').on('template', function () {
    //     $('.control').on('click', function () {
    //       let id_ = $(this).data('id'),
    //         label = $(this).data('class')
    //       $.ajax('data', {
    //         method: 'PUT',
    //         data: { id: id_, Class: label }
    //       }).done(function(){
    //         window.location.reload(false)
    //       })
    //     })
    //   })
    // })
  </script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
</body>

</html>